@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --font-bitcount: "Bitcount Prop Single", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@import './themes.css';