@layer utilities {
  :root {
    /*-----*/
    /* dft */
    /*-----*/
    --dft-primary: #24788f !important;
    --dft-secondary: #96c711 !important;
    /* bg */
    --dft-bg-primary: #0d0d0d !important;
    /*-----------*/
    /* cyberpunk */
    /*-----------*/
    --cp-primary: #ff006e !important;
    --cp-secondary: #00f5ff !important;
    /* bg */
    --cp-bg-primary: #232323 !important;
  }

  /*                  */
  /*  Default ( dft ) */
  /*                  */
  .dft-primary {
    color: var(--dft-primary);
  }

  .dft-secondary {
    color: var(--dft-secondary);
  }

  /* ----------- */
  /* background */
  /* ----------- */
  .dft-primary-bg {
    background-color: var(--dft-bg-primary);
  }

  /*                   */
  /*  cyberpunk ( cp ) */
  /*                   */
  .cp-primary {
    color: var(--cp-primary);
  }

  .cp-secondary {
    color: var(--cp-secondary);
  }

  /* ----------- */
  /* background */
  /* ----------- */
  .cp-primary-bg {
    background-color: var(--cp-bg-primary);
  }
}
