@reference "tailwindcss";

@layer utilities {
  :root {
    /* dft */
    --dft-primary: #24788f !important;
    --dft-secondary: #96c711 !important;
    /*  */
    --dft-bg-primary: #0d0d0d;
  }

  /*                  */
  /*  Default ( dft ) */
  /*                  */
  .dft-primary {
    color: var(--dft-primary);
  }

  .dft-secondary {
    color: var(--dft-secondary);
  }

  /* ----------- */
  /* background */
  /* ----------- */
  .dft-primary-bg {
    background-color: var(--dft-bg-primary);
  }

  /*               */
  /*  test ( tst ) */
  /*               */
  .test-primary-bg {
    background-color: red;
  }
}
